*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-smoothing:grayscale;
}
html, body {
    width: 100vw;
    height: auto;/*900vh*/
    cursor:none;
    background: #ecdfcd;
    color: white;
    overflow-x: hidden;
}
img{
    position: relative;
    width: 100%;
    height: 100%; /*auto*/
    object-fit: cover;
    will-change: transform;
}
h1{
    font-size:5rem;
    font-weight: 500;
    letter-spacing: -0.1rem;
    line-height: 1.25;
}
p{
    font-size: 1.124rem;
    font-weight: 400;
    line-height: 1.25;
}
section {
  position: relative;
  width: 100vw;
}
.diapositivas{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 25svh;
}
.diapositiva{
    position: relative;
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
}
.diapositiva-marca{
    width: 100%;
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    gap: 30px;
}
.marca{
    display: flex;
    flex-shrink: 0; 
    align-items: center;
}
.marca h1{
    white-space: nowrap;
    font-size: 10vw;
    font-weight: 600;
    will-change: transform;
    backface-visibility: hidden;
}
.diapositiva-wrapper{
    position: relative;
    width: 98%;
    height: 98%;
    margin: 0 auto;
    overflow: hidden;
    will-change: transform;
}
 .diapositiva-contenido{
    width: 100%;
    top: 50%;
    left: 50%;
    color: black;
    text-align: center;
    position: absolute;
    z-index: 2;
    transform: translate(-50%,-50%);
}
.diapositiva-img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.diapositiva-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05); /* Ajustado para efecto parallax */
    transition: transform 0.3s ease-out;
}
.dispositiva-contenido,.dispositiva-titulo{
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.dispositiva-contenido, .dispositiva-descripcion{
    width: 40%;
    text-align: center;
    margin-bottom: 3em;
    position: relative;
    transform: translateX(40px);
    opacity: 0;
}
